<div class=" my-5 ">
  <div class="row my-3  justify-content-between">
    <div class="col-6">
      <button

      (click)="deleteall()"
        type="button"
        class="btn btn-danger  text-capitalize"
      >
        delete all
      </button>
    </div>
    <div class="col-6">
      <button
      type="button"
      class="btn float-end btn-info  text-capitalize"
      data-bs-toggle="modal"
      data-bs-target="#addnote"
      >
      add note
    </button>
  </div>
  <div class="row my-5 justify-content-center"> 
    <form [formGroup]="searchform" class="w-75">
          <div class="col-6 input-group ">
          <input [(ngModel)]="term" type="text" class="form-control " formControlName="searchbar"  placeholder="Search Note" >
          <span class="input-group-text cancelsearch" (click)="cancelsearch()">
            <i class="fa-solid fa-xmark"></i>
          </span>
        </div>
    </form>
    </div>
  </div>
  <div *ngIf="!notesfound" class="row justify-content-center">
    <div class="col-6 alert alert-info text-capitalize">
      no notes found
    </div>
  </div>
  <div *ngIf="notesfound" class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
    <div class="col" *ngFor="let note of notesArr|find:term">
      <div class="card">
        <div class="d-flex card-header justify-content-between">
          <h5 class="card-title fw-bold text-capitalize text-truncate my-2">{{note.title}}</h5>
            <div class="dropdown my-2">
              <span
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              class="px-2 btn-dropdown"
            >
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </span>
                <ul class="dropdown-menu shadow">
                  <li>
                    <a
                      class="dropdown-item delete"
                      data-bs-toggle="modal"
                      data-bs-target="#deletenote"
                      (click)="delete(note._id)"
                      >Delete
                      <span class="float-end"
                        ><i class="fa-solid fa-trash"></i
                      ></span>
                    </a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a
                      class="dropdown-item edit"
                      (click)="edit(note._id)"
                      data-bs-toggle="modal"
                      data-bs-target="#editnote"
                      >Edit
                      <span class="float-end"
                        ><i class="fas fa-pen-square float-right"></i
                      ></span>
                    </a>
                  </li>
                </ul>
              </div>
        </div>
        <div class="card-body">
          <p class="card-text  text-truncate">{{note.desc}}.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ADD Note Modal -->
<div
  class="modal fade"
  id="addnote"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addform" (ngSubmit)="addNote()">
          <input
            formControlName="title"
            type="text"
            class="form-control mb-3"
            placeholder="Title"
          />
          <textarea
            formControlName="desc"
            class="form-control my-3"
            cols="30"
            rows="5"
            placeholder="Take Your Note"
          ></textarea>
          <div class="modal-footer">
            <button
              type="submit"
              [disabled]="!addform.valid"
              class="btn btn-info"
            >
              {{adding}}
              <span *ngIf="flag"><i class="fas fa-spin fa-spinner"></i></span>
            </button>
            <button
              type="button"
              id="cancel"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <!-- the footer must be inside the form because it contains the button of type submit -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Delete Note modal -->
<div
  class="modal fade"
  id="deletenote"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure ?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <p class="text-info">Do you really want to delete ?</p>
        <p class="text-info">process cannot be undone</p>
      </div>
      <div class="modal-footer">
        <button (click)="deleteNote()" class="btn btn-danger">
          {{deleting}}
          <span *ngIf="flag"><i class="fas fa-spin fa-spinner"></i></span>
        </button>
        <button
          type="button"
          id="canceldel"
          class="btn btn-info"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- edit modal -->
<div
  class="modal fade"
  id="editnote"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <form [formGroup]="editform" (ngSubmit)="updateNote()">
          <input
            formControlName="title"
            type="text"
            class="form-control mb-3"
            placeholder="Title"
          />
          <textarea
            formControlName="desc"
            class="form-control my-3"
            cols="30"
            rows="5"
            placeholder="Take Your Note"
          ></textarea>
          <div class="modal-footer">
            <button
              type="submit"
              [disabled]="!editform.valid"
              class="btn btn-warning"
            >
            {{editing}}
            <span *ngIf="flag"><i class="fas fa-spin fa-spinner"></i></span>
            </button>
            <button
              type="button"
              id="canceledit"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <!-- the footer must be inside the form because it contains the button of type submit -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>